<title>Player Details</title>
{% load static %}
<script type="text/javascript" src=" http://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script type="text/javascript" src=" http://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

<div class = "container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="text-center">{{ player.player_name }}</h1>
    </div>
  </div>
<!--
<div>
<ul>
{% for game in player.game_set.all %}
    <li>{{ game.start_time }}</li>
{% endfor %}
</ul>
</div>
-->
<div class="row">
<div class="col-sm-3"></div>
<div class="col">
  <div id="points-container" >{{ output1|safe }}</div>
</div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col">
  <div id="assists-container">{{ output2|safe }}</div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col">
  <div id="rebounds-container">{{ output3|safe }}</div>
  </div>
</div>

</div>
</body>
</html>
